@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}
<div class="d-flex justify-content-center" style="margin-top:7%;">
    <h1 class="text-danger">Hata.</h1>
</div>
<h2 class="text-danger">İşlem sırasında bir hata oldu. Lütfen tekrar deneyiniz. Devam etmesi durumunda yazılım ekibi ile iletişime geçiniz.</h2>
<p>
    <strong>İletişim Mail : <b>xxxxx@xxx.com.tr</b></strong>
</p>

